* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(23, 23, 22), rgba(75, 110, 225, 0.721), rgba(13, 0, 255, 0.776), rgba(102, 107, 255, 0.817), rgb(0, 0, 0), rgba(1, 1, 1, 0.219));
}

.calculator {
    width: 300px;
    background: #2a2a3b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px #000;
}

.display {
    width: 100%;
    height: 60px;
    background: #000;
    color: rgb(255, 255, 255);
    font-size: 28px;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background: #3b3b4f;
    color: #fff;
    font-size: 22px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background: #54546d;
}

.zero {
    grid-column: span 2;
}

button:last-child {
    background: #ff9500;
}

button:last-child:hover {
    background: #d98200;
}
